Here I want to make a simple recommender system to find the similarity between shows, users and to help me predict whether a user will enjoy a particular anime.

In [129]:
# Import relevant libraries 

import pandas as pd
import numpy as np
import scipy as sp
import sklearn
from sklearn.decomposition import TruncatedSVD
from sklearn.metrics.pairwise import cosine_similarity
import operator
%matplotlib inline

In [130]:
anime = pd.read_csv('myAnimelist-No_Hentai 2.csv')
rating = pd.read_csv('/Users/SDMAN/Documents/Flatiron/Projects/rating.csv')

Replacing -1 value with a null value

In [141]:
rating.rating.replace({-1: np.nan}, inplace = True)
rating.head()

   user_id  anime_id  rating
0        1        20     NaN
1        1        24     NaN
2        1        79     NaN
3        1       226     NaN
4        1       241     NaN

In [142]:
rating.head()

   user_id  anime_id  rating
0        1        20     NaN
1        1        24     NaN
2        1        79     NaN
3        1       226     NaN
4        1       241     NaN

Join the two dataframes on the anime_id columns

In [143]:
# For this analysis I'm only interest in finding recommendations for the TV category

anime_show = anime[anime['type']=='TV']
anime_show.head()

,animeID,name,type,source,episodes,duration,genre,rating,score,scored_by,rank,popularity,members,favorites
0,1,Cowboy Bebop,TV,Original,26,0:24:00,"['Action', 'Adventure', 'Comedy', 'Drama', 'Sc...",R - 17+ (violence & profanity),8.81,405664,26,39,795733,43460
2,6,Trigun,TV,Manga,26,0:24:00,"['Action', 'Sci-Fi', 'Adventure', 'Comedy', 'D...",PG-13 - Teens 13 or older,8.30,212537,255,146,408548,10432
3,7,Witch Hunter Robin,TV,Original,26,0:25:00,"['Action', 'Magic', 'Police', 'Supernatural', ...",PG-13 - Teens 13 or older,7.33,32837,2371,1171,79397,537
4,8,Bouken Ou Beet,TV,Manga,52,0:23:00,"['Adventure', 'Fantasy', 'Shounen', 'Supernatu...",PG - Children,7.03,4894,3544,3704,11708,14
5,16,Hachimitsu to Clover,TV,Manga,24,0:23:00,"['Comedy', 'Drama', 'Josei', 'Romance', 'Slice...",PG-13 - Teens 13 or older,8.12,57065,419,536,172274,3752

In [144]:
# Merging anime_show and rating dataframe with inner join
merged = rating.merge(anime_show, left_on = 'anime_id', right_on = 'animeID', suffixes= ['_user', ''], how='inner')
# Renaming column
merged.rename(columns = {'rating_user':'user_rating'}, inplace = True)
# Dropping extra column
merged = merged.drop(columns="animeID")
print(merged.shape)
merged.head()

(5185071, 16)

,user_id,anime_id,user_rating,name,type,source,episodes,duration,genre,rating,score,scored_by,rank,popularity,members,favorites
0,1,20,NaN,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
1,3,20,8.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
2,5,20,6.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
3,6,20,NaN,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
4,10,20,NaN,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356

In [145]:
merged2 = merged.dropna()
print(merged2.shape)
merged2.head()

(4284319, 16)

,user_id,anime_id,user_rating,name,type,source,episodes,duration,genre,rating,score,scored_by,rank,popularity,members,favorites
1,3,20,8.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
2,5,20,6.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
5,21,20,8.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
6,28,20,9.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
7,34,20,9.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356

Pivoting table of users on one axis and tv show names along the other. This helps us in defining the similarity between users and shows to better predict who will like what.

In [156]:
piv = merged.pivot_table(index=['user_id'], columns=['name'], values='user_rating',fill_value=0)

In [157]:
print(piv.shape)
piv.head()

(68840, 2968)

name,.hack//Roots,.hack//Sign,009-1,07-Ghost,11eyes,12-sai.: Chicchana Mune no Tokimeki,12-sai.: Chicchana Mune no Tokimeki 2nd Season,2020 Nyeon Ujuui Wonder Kiddy,21 Emon,3 Choume no Tama: Uchi no Tama Shirimasenka?,...,Zombie-Loan,"Zone of the Enders: Dolores, I",Zukkoke Knight: Don De La Mancha,ef: A Tale of Melodies.,ef: A Tale of Memories.,gdgd Fairies,gdgd Fairies 2,s.CRY.ed,xxxHOLiC,xxxHOLiC Kei
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,7,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [158]:
# For computing reasons I'm limiting the dataframe length to 50,000 users

# merged2=merged2[['user_id', 'name', 'user_rating']]
# merged_sub= merged2[merged2.user_id <= 50000]
# merged_sub.head()

,user_id,anime_id,user_rating,name,type,source,episodes,duration,genre,rating,score,scored_by,rank,popularity,members,favorites
1,3,20,8.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
2,5,20,6.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
5,21,20,8.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
6,28,20,9.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356
7,34,20,9.0,Naruto,TV,Manga,220,0:23:00,"['Action', 'Adventure', 'Comedy', 'Super Power...",PG-13 - Teens 13 or older,7.9,716412,705,10,1091313,39356

Transposing the Matrix (eg. pivoted table)

In [159]:
X = piv.T
X.shape

(2968, 68840)

Decomposing the Matrix - Lowering the total features

In [161]:
# Truncates matrix in 12 Synthetic features
SVD = TruncatedSVD(n_components=12,random_state=12)

resultant_matrix = SVD.fit_transform(X)

resultant_matrix.shape

(2968, 12)

Generating a Correlation Matrix

In [162]:
corr_mat = np.corrcoef(resultant_matrix)
corr_mat.shape

(2968, 2968)

In [164]:
anime_titles = piv.columns
anime_list = list(anime_titles)
naruto_corr = anime_list.index('naruto'.title())
print(naruto_corr)

1808

In [165]:
corr_naruto = corr_mat[int(naruto_corr)]
corr_naruto.shape

(2968,)

Recommending top 10% of Hightly Correlated Anime

In [206]:
list(anime_titles[(corr_naruto<1.0)&(corr_naruto>0.9)])

['Bleach', 'Ghost in the Shell: Nyuumon Arise', 'Shaman King']

Function to recommend the top correlated Anime, (top inputted percentage)

In [266]:
def rec_anime(x,float):
    x_corr = anime_list.index(f'{x.title()}')
    x_corr
    corr_x = corr_mat[x_corr]
    print(f'{100-int(float*100)}% Correlational match to Anime: {x.title()}\n')
    corr_anime = list(anime_titles[(corr_x < 1.0) & (corr_x > (1.0-float))])
    count = 1
    for item in corr_anime:
        print(f'No. {count}: {item}')
        count +=1

In [267]:
rec_anime('naruto',.1)

90% Correlational match to Anime: Naruto

No. 1: Bleach
No. 2: Ghost in the Shell: Nyuumon Arise
No. 3: Shaman King

In [268]:
rec_anime('naruto',0.2)

80% Correlational match to Anime: Naruto

No. 1: Afro Samurai
No. 2: Air Gear
No. 3: Ao no Exorcist
No. 4: Blade
No. 5: Bleach
No. 6: Blue Dragon
No. 7: Cybersix
No. 8: Deadman Wonderland
No. 9: Death Note
No. 10: Devil May Cry
No. 11: Dragon Ball
No. 12: Dragon Ball GT
No. 13: Dragon Ball Kai
No. 14: Dragon Ball Z
No. 15: Fairy Tail
No. 16: Fullmetal Alchemist
No. 17: Fullmetal Alchemist: Brotherhood
No. 18: Gantz
No. 19: Ghost in the Shell: Nyuumon Arise
No. 20: Ghost in the Shell: Stand Alone Complex - Tachikoma na Hibi (TV)
No. 21: Ginga Densetsu Weed
No. 22: Hellsing
No. 23: Highschool of the Dead
No. 24: Hokuto no Ken: Raoh Gaiden Ten no Haoh
No. 25: Hunter x Hunter
No. 26: IGPX: Immortal Grand Prix (2005)
No. 27: IGPX: Immortal Grand Prix (2005) 2nd Season
No. 28: InuYasha
No. 29: InuYasha: Kanketsu-hen
No. 30: Juusen Battle Monsuno
No. 31: Konjiki no Gash Bell!!
No. 32: Maou Dante
No. 33: Metal Fight Beyblade
No. 34: Oban Star-Racers
No. 35: Plawres Sanshirou
No. 36: Pokemon
No. 37: Rurouni Kenshin: Meiji Kenkaku Romantan
No. 38: Saint Seiya
No. 39: Shaman King
No. 40: Shingeki no Kyojin
No. 41: Soul Eater
No. 42: Wolverine
No. 43: X-Men
No. 44: Yuu☆Yuu☆Hakusho
No. 45: Yu☆Gi☆Oh!
No. 46: Yu☆Gi☆Oh! Duel Monsters
No. 47: Yu☆Gi☆Oh!: Duel Monsters GX
No. 48: Zetman